<h1>The profile of <%= @user.username %></h1>

<p>
  <strong>Name:</strong> <%= @user.name %>
</p>
<p>
  <strong>Location:</strong> <%= @user.location %>
</p>
<p>
  <strong>Bio:</strong> <%= @user.bio %>
</p>

<ul class='nav nav-tabs'>
  <li>
    <%= link_to 'Tweets', show_user_path(id: @user.id) %>
  </li>
  <li class='active'>
    <%= link_to 'Following', following_path(id: @user.id) %>
  </li>
  <li>
    <%= link_to 'Followers', followers_path(id: @user.id) %>
  </li>
</ul>


<div class='row'>
  <% @users.each do |user| %>
    <%= render 'epicenter/user', user: user %>
  <% end %>
</div>
